*{
    font-family: 'Anton', sans-serif;
}
html, body {
    
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: teal;
} 

.calculadora {
    display: block;
    margin: 0 auto;
    padding: 30px;
    background-color: antiquewhite;
    width: fit-content;
    height:600px;
    border-radius: 15%;
    border-width: 30%;
    border-style: solid;
    border-color: black;
}

.calculadora td button {
    display:block;
    width: 90px;
    height: 90px;
    font-size:35px;
    border-radius: 50%;
    outline: 0;
    border-width: 30%;
    border-style: solid;
    border-color: black;
}

#resultado {
 display: block;
 text-align: center;
 font-size: 40px;
 margin-bottom: 10px;
 width: 370px;
 height: 200px;
 line-height: 100px;
 background-color: whitesmoke;
 border-radius: 15%;
 overflow-y: scroll;
 overflow-y: auto;
 border-width: 30%;
border-style: solid;
border-color: black;
}

.titulo{
    font-size: 205%;
}